In [10]:
import pandas as pd
import numpy as np
import os

In [15]:
app_train1=pd.read_csv(r"C:\Users\Balakrishna_Vema\Documents\Data science\Data sets\Home_credit_default_risk\application_train1.csv")
bureau=pd.read_csv(r"C:\Users\Balakrishna_Vema\Documents\Data science\Data sets\Home_credit_default_risk\bureau.csv")

In [16]:
app_train1.shape

(307511, 122)

In [17]:
#Duplicate values
dup=app_train1.duplicated()
count_dup = pd.value_counts(dup)
count_dup

False    307511
dtype: int64

In [18]:
#Row level duplicate remove 
row_dup1 = app_train1.drop_duplicates()
row_dup1.shape

(307511, 122)

In [19]:
count = app_train1.isnull().sum().sort_values(ascending=False)

In [20]:
count

COMMONAREA_MEDI                214865
COMMONAREA_AVG                 214865
COMMONAREA_MODE                214865
NONLIVINGAPARTMENTS_MODE       213514
NONLIVINGAPARTMENTS_MEDI       213514
                                ...
REG_CITY_NOT_LIVE_CITY              0
LIVE_REGION_NOT_WORK_REGION         0
REG_REGION_NOT_WORK_REGION          0
HOUR_APPR_PROCESS_START             0
SK_ID_CURR                          0
Length: 122, dtype: int64

In [21]:
target_val = app_train1['TARGET'].value_counts()
target_df = pd.DataFrame({"target_val_lable":target_val.index,'values':target_val.values,
                         "Percentage": target_val/target_val.sum()*100})
target_df

   target_val_lable  values  Percentage
0                 0  282686   91.927118
1                 1   24825    8.072882

In [22]:
bureau.shape

(1716428, 17)

In [23]:
contact_val = app_train1['NAME_CONTRACT_TYPE'].value_counts()
contact_df = pd.DataFrame({"contact_val_lables": contact_val.index, 'values':contact_val.values,
                           'percentage':contact_val/contact_val.sum()*100})
contact_df

                contact_val_lables  values  percentage
Cash loans              Cash loans  278232   90.478715
Revolving loans    Revolving loans   29279    9.521285

In [24]:
count = app_train1.isnull().sum().sort_values(ascending=False)
persantage = ((app_train1.isnull().sum())/len(app_train1*100)).sort_values(ascending=False)
missing_app_train = pd.concat([count,persantage],axis=1,keys=['count','percentage'])
print('count and persentage of missing values for top 2 comumns:')
missing_app_train

count and persentage of missing values for top 2 comumns:

                              count  percentage
COMMONAREA_MEDI              214865    0.698723
COMMONAREA_AVG               214865    0.698723
COMMONAREA_MODE              214865    0.698723
NONLIVINGAPARTMENTS_MODE     213514    0.694330
NONLIVINGAPARTMENTS_MEDI     213514    0.694330
...                             ...         ...
REG_CITY_NOT_LIVE_CITY            0    0.000000
LIVE_REGION_NOT_WORK_REGION       0    0.000000
REG_REGION_NOT_WORK_REGION        0    0.000000
HOUR_APPR_PROCESS_START           0    0.000000
SK_ID_CURR                        0    0.000000

[122 rows x 2 columns]

In [25]:
#SUmmary statistics:
app_train1.describe().T

,count,mean,std,min,25%,50%,75%,max
SK_ID_CURR,307511.0,278180.518577,102790.175348,100002.0,189145.5,278202.0,367142.5,456255.0
TARGET,307511.0,0.080729,0.272419,0.0,0.0,0.0,0.0,1.0
CNT_CHILDREN,307511.0,0.417052,0.722121,0.0,0.0,0.0,1.0,19.0
AMT_INCOME_TOTAL,307511.0,168797.919297,237123.146279,25650.0,112500.0,147150.0,202500.0,117000000.0
AMT_CREDIT,307511.0,599025.999706,402490.776996,45000.0,270000.0,513531.0,808650.0,4050000.0
...,...,...,...,...,...,...,...,...
AMT_REQ_CREDIT_BUREAU_DAY,265992.0,0.007000,0.110757,0.0,0.0,0.0,0.0,9.0
AMT_REQ_CREDIT_BUREAU_WEEK,265992.0,0.034362,0.204685,0.0,0.0,0.0,0.0,8.0
AMT_REQ_CREDIT_BUREAU_MON,265992.0,0.267395,0.916002,0.0,0.0,0.0,0.0,27.0
AMT_REQ_CREDIT_BUREAU_QRT,265992.0,0.265474,0.794056,0.0,0.0,0.0,0.0,261.0
AMT_REQ_CREDIT_BUREAU_YEAR,265992.0,1.899974,1.869295,0.0,0.0,1.0,3.0,25.0

In [26]:
def outlier_cal(data):
    col = list(data.columns)
    for i in col:
        if data[i].dtypes != "object":
            iqr=data[i].quantile(0.75)-data[i].quantile(0.25)
            lo = data[i].quantile(0.25)-(1.5*iqr)
            uo = data[i].quantile(0.75)+(1.5*iqr)
            print("each variable orutlier values", i, "\n")
            print("lower outlier cut off value", lo)
            print("min value in given data", data[i].min())
            print("upper outlier cut off data", uo)
            print("max value of given data", data[i].max())
            print("\n")

In [27]:
outlier_cal(app_train1)

each variable orutlier values SK_ID_CURR

lower outlier cut off value -77850.0
min value in given data 100002
upper outlier cut off data 634138.0
max value of given data 456255


each variable orutlier values TARGET

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values CNT_CHILDREN

lower outlier cut off value -1.5
min value in given data 0
upper outlier cut off data 2.5
max value of given data 19


each variable orutlier values AMT_INCOME_TOTAL

lower outlier cut off value -22500.0
min value in given data 25650.0
upper outlier cut off data 337500.0
max value of given data 117000000.0


each variable orutlier values AMT_CREDIT

lower outlier cut off value -537975.0
min value in given data 45000.0
upper outlier cut off data 1616625.0
max value of given data 4050000.0


each variable orutlier values AMT_ANNUITY

lower outlier cut off value -10584.0
min value in given data 1615.5
upper outlier cut off data 61704.0
max value of given data 258025.5


each variable orutlier values AMT_GOODS_PRICE

lower outlier cut off value -423000.0
min value in given data 40500.0
upper outlier cut off data 1341000.0
max value of given data 4050000.0


each variable orutlier values REGION_POPULATION_RELATIVE

lower outlier cut off value -0.017979500000000002
min value in given data 0.00029
upper outlier cut off data 0.056648500000000004
max value of given data 0.072508


each variable orutlier values DAYS_BIRTH

lower outlier cut off value -30585.5
min value in given data -25229
upper outlier cut off data -1509.5
max value of given data -7489


each variable orutlier values DAYS_EMPLOYED

lower outlier cut off value -6466.5
min value in given data -17912
upper outlier cut off data 3417.5
max value of given data 365243


each variable orutlier values DAYS_REGISTRATION

lower outlier cut off value -15683.75
min value in given data -24672.0
upper outlier cut off data 6194.25
max value of given data 0.0


each variable orutlier values DAYS_ID_PUBLISH

lower outlier cut off value -8167.5
min value in given data -7197
upper outlier cut off data 2148.5
max value of given data 0


each variable orutlier values OWN_CAR_AGE

lower outlier cut off value -10.0
min value in given data 0.0
upper outlier cut off data 30.0
max value of given data 91.0


each variable orutlier values FLAG_MOBIL

lower outlier cut off value 1.0
min value in given data 0
upper outlier cut off data 1.0
max value of given data 1


each variable orutlier values FLAG_EMP_PHONE

lower outlier cut off value 1.0
min value in given data 0
upper outlier cut off data 1.0
max value of given data 1


each variable orutlier values FLAG_WORK_PHONE

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_CONT_MOBILE

lower outlier cut off value 1.0
min value in given data 0
upper outlier cut off data 1.0
max value of given data 1


each variable orutlier values FLAG_PHONE

lower outlier cut off value -1.5
min value in given data 0
upper outlier cut off data 2.5
max value of given data 1


each variable orutlier values FLAG_EMAIL

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values CNT_FAM_MEMBERS

lower outlier cut off value 0.5
min value in given data 1.0
upper outlier cut off data 4.5
max value of given data 20.0


each variable orutlier values REGION_RATING_CLIENT

lower outlier cut off value 2.0
min value in given data 1
upper outlier cut off data 2.0
max value of given data 3


each variable orutlier values REGION_RATING_CLIENT_W_CITY

lower outlier cut off value 2.0
min value in given data 1
upper outlier cut off data 2.0
max value of given data 3


each variable orutlier values HOUR_APPR_PROCESS_START

lower outlier cut off value 4.0
min value in given data 0
upper outlier cut off data 20.0
max value of given data 23


each variable orutlier values REG_REGION_NOT_LIVE_REGION

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values REG_REGION_NOT_WORK_REGION

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values LIVE_REGION_NOT_WORK_REGION

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values REG_CITY_NOT_LIVE_CITY

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values REG_CITY_NOT_WORK_CITY

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values LIVE_CITY_NOT_WORK_CITY

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values EXT_SOURCE_1

lower outlier cut off value -0.17756067565987282
min value in given data 0.014568132412445587
upper outlier cut off data 1.186620562564035
max value of given data 0.962692770561306


each variable orutlier values EXT_SOURCE_2

lower outlier cut off value -0.014282094178385663
min value in given data 8.173616518884397e-08
upper outlier cut off data 1.0703566001060345
max value of given data 0.8549996664047012


each variable orutlier values EXT_SOURCE_3

lower outlier cut off value -0.07696096134865194
min value in given data 0.0005272652387098817
upper outlier cut off data 1.1166672884610378
max value of given data 0.8960095494948396


each variable orutlier values APARTMENTS_AVG

lower outlier cut off value -0.07849999999999999
min value in given data 0.0
upper outlier cut off data 0.28469999999999995
max value of given data 1.0


each variable orutlier values BASEMENTAREA_AVG

lower outlier cut off value -0.057799999999999976
min value in given data 0.0
upper outlier cut off data 0.21419999999999997
max value of given data 1.0


each variable orutlier values YEARS_BEGINEXPLUATATION_AVG

lower outlier cut off value 0.96185
min value in given data 0.0
upper outlier cut off data 1.0014500000000002
max value of given data 1.0


each variable orutlier values YEARS_BUILD_AVG

lower outlier cut off value 0.4832
min value in given data 0.0
upper outlier cut off data 1.0272000000000001
max value of given data 1.0


each variable orutlier values COMMONAREA_AVG

lower outlier cut off value -0.057749999999999996
min value in given data 0.0
upper outlier cut off data 0.11704999999999999
max value of given data 1.0


each variable orutlier values ELEVATORS_AVG

lower outlier cut off value -0.18
min value in given data 0.0
upper outlier cut off data 0.3
max value of given data 1.0


each variable orutlier values ENTRANCES_AVG

lower outlier cut off value -0.13784999999999997
min value in given data 0.0
upper outlier cut off data 0.41374999999999995
max value of given data 1.0


each variable orutlier values FLOORSMAX_AVG

lower outlier cut off value -0.08320000000000002
min value in given data 0.0
upper outlier cut off data 0.5831999999999999
max value of given data 1.0


each variable orutlier values FLOORSMIN_AVG

lower outlier cut off value -0.35425
min value in given data 0.0
upper outlier cut off data 0.81255
max value of given data 1.0


each variable orutlier values LANDAREA_AVG

lower outlier cut off value -0.08164999999999997
min value in given data 0.0
upper outlier cut off data 0.18594999999999998
max value of given data 1.0


each variable orutlier values LIVINGAPARTMENTS_AVG

lower outlier cut off value -0.055499999999999994
min value in given data 0.0
upper outlier cut off data 0.2269
max value of given data 1.0


each variable orutlier values LIVINGAREA_AVG

lower outlier cut off value -0.08159999999999995
min value in given data 0.0
upper outlier cut off data 0.2567999999999999
max value of given data 1.0


each variable orutlier values NONLIVINGAPARTMENTS_AVG

lower outlier cut off value -0.005849999999999999
min value in given data 0.0
upper outlier cut off data 0.009749999999999998
max value of given data 1.0

each variable orutlier values NONLIVINGAREA_AVG

lower outlier cut off value -0.04155
min value in given data 0.0
upper outlier cut off data 0.06924999999999999
max value of given data 1.0


each variable orutlier values APARTMENTS_MODE

lower outlier cut off value -0.08460000000000001
min value in given data 0.0
upper outlier cut off data 0.281
max value of given data 1.0


each variable orutlier values BASEMENTAREA_MODE

lower outlier cut off value -0.06685
min value in given data 0.0
upper outlier cut off data 0.21995
max value of given data 1.0


each variable orutlier values YEARS_BEGINEXPLUATATION_MODE

lower outlier cut off value 0.96185
min value in given data 0.0
upper outlier cut off data 1.0014500000000002
max value of given data 1.0


each variable orutlier values YEARS_BUILD_MODE

lower outlier cut off value 0.5131000000000001
min value in given data 0.0
upper outlier cut off data 1.0099
max value of given data 1.0


each variable orutlier values COMMONAREA_MODE

lower outlier cut off value -0.05550000000000001
min value in given data 0.0
upper outlier cut off data 0.11170000000000001
max value of given data 1.0


each variable orutlier values ELEVATORS_MODE

lower outlier cut off value -0.1812
min value in given data 0.0
upper outlier cut off data 0.302
max value of given data 1.0


each variable orutlier values ENTRANCES_MODE

lower outlier cut off value -0.13784999999999997
min value in given data 0.0
upper outlier cut off data 0.41374999999999995
max value of given data 1.0


each variable orutlier values FLOORSMAX_MODE

lower outlier cut off value -0.08320000000000002
min value in given data 0.0
upper outlier cut off data 0.5831999999999999
max value of given data 1.0


each variable orutlier values FLOORSMIN_MODE

lower outlier cut off value -0.35425
min value in given data 0.0
upper outlier cut off data 0.81255
max value of given data 1.0


each variable orutlier values LANDAREA_MODE

lower outlier cut off value -0.08464999999999998
min value in given data 0.0
upper outlier cut off data 0.18534999999999996
max value of given data 1.0


each variable orutlier values LIVINGAPARTMENTS_MODE

lower outlier cut off value -0.061450000000000005
min value in given data 0.0
upper outlier cut off data 0.24695
max value of given data 1.0


each variable orutlier values LIVINGAREA_MODE

lower outlier cut off value -0.08105
min value in given data 0.0
upper outlier cut off data 0.24895
max value of given data 1.0


each variable orutlier values NONLIVINGAPARTMENTS_MODE

lower outlier cut off value -0.005849999999999999
min value in given data 0.0
upper outlier cut off data 0.009749999999999998
max value of given data 1.0


each variable orutlier values NONLIVINGAREA_MODE

lower outlier cut off value -0.03465
min value in given data 0.0
upper outlier cut off data 0.057749999999999996
max value of given data 1.0


each variable orutlier values APARTMENTS_MEDI

lower outlier cut off value -0.07760000000000003
min value in given data 0.0
upper outlier cut off data 0.28480000000000005
max value of given data 1.0


each variable orutlier values BASEMENTAREA_MEDI

lower outlier cut off value -0.05814999999999999
min value in given data 0.0
upper outlier cut off data 0.21345
max value of given data 1.0


each variable orutlier values YEARS_BEGINEXPLUATATION_MEDI

lower outlier cut off value 0.96185
min value in given data 0.0
upper outlier cut off data 1.0014500000000002
max value of given data 1.0


each variable orutlier values YEARS_BUILD_MEDI

lower outlier cut off value 0.49010000000000004
min value in given data 0.0
upper outlier cut off data 1.0269
max value of given data 1.0


each variable orutlier values COMMONAREA_MEDI

lower outlier cut off value -0.05719999999999999
min value in given data 0.0
upper outlier cut off data 0.11639999999999999
max value of given data 1.0


each variable orutlier values ELEVATORS_MEDI

lower outlier cut off value -0.18
min value in given data 0.0
upper outlier cut off data 0.3
max value of given data 1.0


each variable orutlier values ENTRANCES_MEDI

lower outlier cut off value -0.13784999999999997
min value in given data 0.0
upper outlier cut off data 0.41374999999999995
max value of given data 1.0


each variable orutlier values FLOORSMAX_MEDI

lower outlier cut off value -0.08320000000000002
min value in given data 0.0
upper outlier cut off data 0.5831999999999999
max value of given data 1.0


each variable orutlier values FLOORSMIN_MEDI

lower outlier cut off value -0.35425
min value in given data 0.0
upper outlier cut off data 0.81255
max value of given data 1.0


each variable orutlier values LANDAREA_MEDI

lower outlier cut off value -0.08345
min value in given data 0.0
upper outlier cut off data 0.18895
max value of given data 1.0


each variable orutlier values LIVINGAPARTMENTS_MEDI

lower outlier cut off value -0.056400000000000006
min value in given data 0.0
upper outlier cut off data 0.2308
max value of given data 1.0


each variable orutlier values LIVINGAREA_MEDI

lower outlier cut off value -0.08120000000000002
min value in given data 0.0
upper outlier cut off data 0.2572
max value of given data 1.0


each variable orutlier values NONLIVINGAPARTMENTS_MEDI

lower outlier cut off value -0.005849999999999999
min value in given data 0.0
upper outlier cut off data 0.009749999999999998
max value of given data 1.0


each variable orutlier values NONLIVINGAREA_MEDI

lower outlier cut off value -0.0399
min value in given data 0.0
upper outlier cut off data 0.0665
max value of given data 1.0


each variable orutlier values TOTALAREA_MODE

lower outlier cut off value -0.08839999999999999
min value in given data 0.0
upper outlier cut off data 0.2572
max value of given data 1.0


each variable orutlier values OBS_30_CNT_SOCIAL_CIRCLE

lower outlier cut off value -3.0
min value in given data 0.0
upper outlier cut off data 5.0
max value of given data 348.0


each variable orutlier values DEF_30_CNT_SOCIAL_CIRCLE

lower outlier cut off value 0.0
min value in given data 0.0
upper outlier cut off data 0.0
max value of given data 34.0


each variable orutlier values OBS_60_CNT_SOCIAL_CIRCLE

lower outlier cut off value -3.0
min value in given data 0.0
upper outlier cut off data 5.0
max value of given data 344.0


each variable orutlier values DEF_60_CNT_SOCIAL_CIRCLE

lower outlier cut off value 0.0
min value in given data 0.0
upper outlier cut off data 0.0
max value of given data 24.0


each variable orutlier values DAYS_LAST_PHONE_CHANGE

lower outlier cut off value -3514.0
min value in given data -4292.0
upper outlier cut off data 1670.0
max value of given data 0.0


each variable orutlier values FLAG_DOCUMENT_2

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_3

lower outlier cut off value -1.5
min value in given data 0
upper outlier cut off data 2.5
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_4

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_5

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_6

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_7

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_8

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_9

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_10

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_11

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_12

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_13

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_14

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_15

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_16

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_17

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_18

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_19

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_20

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values FLAG_DOCUMENT_21

lower outlier cut off value 0.0
min value in given data 0
upper outlier cut off data 0.0
max value of given data 1


each variable orutlier values AMT_REQ_CREDIT_BUREAU_HOUR

lower outlier cut off value 0.0
min value in given data 0.0
upper outlier cut off data 0.0
max value of given data 4.0


each variable orutlier values AMT_REQ_CREDIT_BUREAU_DAY

lower outlier cut off value 0.0
min value in given data 0.0
upper outlier cut off data 0.0
max value of given data 9.0


each variable orutlier values AMT_REQ_CREDIT_BUREAU_WEEK

lower outlier cut off value 0.0
min value in given data 0.0
upper outlier cut off data 0.0
max value of given data 8.0


each variable orutlier values AMT_REQ_CREDIT_BUREAU_MON

lower outlier cut off value 0.0
min value in given data 0.0
upper outlier cut off data 0.0
max value of given data 27.0


each variable orutlier values AMT_REQ_CREDIT_BUREAU_QRT

lower outlier cut off value 0.0
min value in given data 0.0
upper outlier cut off data 0.0
max value of given data 261.0


each variable orutlier values AMT_REQ_CREDIT_BUREAU_YEAR

lower outlier cut off value -4.5
min value in given data 0.0
upper outlier cut off data 7.5
max value of given data 25.0

In [28]:
#Column level duplicates
bureau.shape
dup1 = bureau.duplicated("SK_ID_CURR")
count_dup1 = pd.value_counts(dup1)
count_dup1

True     1410617
False     305811
dtype: int64

In [29]:
#row level duplicate
bur = bureau.drop_duplicates(keep="first")
bur.shape

(1716428, 17)

In [30]:
join_train_bur = pd.merge(app_train1, bur, on="SK_ID_CURR", how="left")

In [31]:
join_train_bur.shape
join_train_bur.columns
join_train_bur.shape
sk_id_un = join_train_bur["SK_ID_CURR"].value_counts()
sk_id_un
sk_id_bur = join_train_bur["SK_ID_BUREAU"].value_counts()
join_train_bur.duplicated("SK_ID_BUREAU").value_counts()
join_train_bur.SK_ID_BUREAU.value_counts()

5137052.0    1
5771425.0    1
5771266.0    1
5587823.0    1
5771286.0    1
            ..
5809547.0    1
5662121.0    1
5175284.0    1
6625234.0    1
6730591.0    1
Name: SK_ID_BUREAU, Length: 1465325, dtype: int64

In [32]:
join_train_bur.shape

(1509345, 138)

In [33]:
join_train_bur.duplicated("SK_ID_BUREAU").value_counts()

False    1465326
True       44019
dtype: int64

In [34]:
join_train_bur.shape

(1509345, 138)

In [35]:
train_bur_curr_count =  np.unique(join_train_bur.SK_ID_CURR)
pd.value_counts(train_bur_curr_count)

100303    1
131861    1
158488    1
156441    1
160539    1
         ..
255446    1
257495    1
234968    1
237017    1
100401    1
Length: 307511, dtype: int64

In [36]:
#load the previous_application 
prev = pd.read_csv(r"C:\Users\Balakrishna_Vema\Documents\Data science\Data sets\Home_credit_default_risk\previous_application.csv")

In [37]:
prev.shape

(1670214, 37)

In [38]:
prev.describe().T

,count,mean,std,min,25%,50%,75%,max
SK_ID_PREV,1670214.0,1.923089e+06,532597.958696,1.000001e+06,1.461857e+06,1.923110e+06,2.384280e+06,2845382.000
SK_ID_CURR,1670214.0,2.783572e+05,102814.823849,1.000010e+05,1.893290e+05,2.787145e+05,3.675140e+05,456255.000
AMT_ANNUITY,1297979.0,1.595512e+04,14782.137335,0.000000e+00,6.321780e+03,1.125000e+04,2.065842e+04,418058.145
AMT_APPLICATION,1670214.0,1.752339e+05,292779.762387,0.000000e+00,1.872000e+04,7.104600e+04,1.803600e+05,6905160.000
AMT_CREDIT,1670213.0,1.961140e+05,318574.616546,0.000000e+00,2.416050e+04,8.054100e+04,2.164185e+05,6905160.000
AMT_DOWN_PAYMENT,774370.0,6.697402e+03,20921.495410,-9.000000e-01,0.000000e+00,1.638000e+03,7.740000e+03,3060045.000
AMT_GOODS_PRICE,1284699.0,2.278473e+05,315396.557937,0.000000e+00,5.084100e+04,1.123200e+05,2.340000e+05,6905160.000
HOUR_APPR_PROCESS_START,1670214.0,1.248418e+01,3.334028,0.000000e+00,1.000000e+01,1.200000e+01,1.500000e+01,23.000
NFLAG_LAST_APPL_IN_DAY,1670214.0,9.964675e-01,0.059330,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000
RATE_DOWN_PAYMENT,774370.0,7.963682e-02,0.107823,-1.497876e-05,0.000000e+00,5.160508e-02,1.089091e-01,1.000
RATE_INTEREST_PRIMARY,5951.0,1.883569e-01,0.087671,3.478125e-02,1.607163e-01,1.891222e-01,1.933299e-01,1.000
RATE_INTEREST_PRIVILEGED,5951.0,7.735025e-01,0.100879,3.731501e-01,7.156448e-01,8.350951e-01,8.525370e-01,1.000
DAYS_DECISION,1670214.0,-8.806797e+02,779.099667,-2.922000e+03,-1.300000e+03,-5.810000e+02,-2.800000e+02,-1.000
SELLERPLACE_AREA,1670214.0,3.139511e+02,7127.443459,-1.000000e+00,-1.000000e+00,3.000000e+00,8.200000e+01,4000000.000
CNT_PAYMENT,1297984.0,1.605408e+01,14.567288,0.000000e+00,6.000000e+00,1.200000e+01,2.400000e+01,84.000
DAYS_FIRST_DRAWING,997149.0,3.422099e+05,88916.115834,-2.922000e+03,3.652430e+05,3.652430e+05,3.652430e+05,365243.000
DAYS_FIRST_DUE,997149.0,1.382627e+04,72444.869708,-2.892000e+03,-1.628000e+03,-8.310000e+02,-4.110000e+02,365243.000
DAYS_LAST_DUE_1ST_VERSION,997149.0,3.376777e+04,106857.034789,-2.801000e+03,-1.242000e+03,-3.610000e+02,1.290000e+02,365243.000
DAYS_LAST_DUE,997149.0,7.658240e+04,149647.415123,-2.889000e+03,-1.314000e+03,-5.370000e+02,-7.400000e+01,365243.000
DAYS_TERMINATION,997149.0,8.199234e+04,153303.516729,-2.874000e+03,-1.270000e+03,-4.990000e+02,-4.400000e+01,365243.000
NFLAG_INSURED_ON_APPROVAL,997149.0,3.325702e-01,0.471134,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000

In [41]:
#join train_bur to previous application
join_train_bur_prev = pd.merge(join_train_bur,prev, on="SK_ID_CURR", how="left")
join_train_bur_prev.shape

(8091522, 174)

In [49]:
unq_id_SK = np.unique(join_train_bur_prev.SK_ID_CURR)
pd.value_counts(unq_id_SK).sort_values(ascending=False)

100401    1
182361    1
151626    1
147528    1
286860    1
         ..
116679    1
114632    1
112585    1
110538    1
100303    1
Length: 307511, dtype: int64

In [50]:
pd.value_counts(join_train_bur_prev.SK_ID_CURR).sort_values(ascending=False)

371490    1927
133023    1500
329272    1344
264093    1300
325062    1258
          ...
119932       1
402562       1
398468       1
423048       1
199887       1
Name: SK_ID_CURR, Length: 307511, dtype: int64

In [53]:
dataof = join_train_bur_prev[join_train_bur_prev["SK_ID_CURR"] == 371490]

In [54]:
dataof #371490 customer#371490 occured 1927 times becuase he took loan 1927 times and she is not paying the loan amount

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE_x,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
6151497,371490,1,Cash loans,F,N,Y,0,189000.0,450000.0,22018.5,...,Clothing,6.0,low_normal,POS industry without interest,365243.0,-830.0,-680.0,-710.0,-703.0,0.0
6151498,371490,1,Cash loans,F,N,Y,0,189000.0,450000.0,22018.5,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-641.0,-311.0,-461.0,-452.0,1.0
6151499,371490,1,Cash loans,F,N,Y,0,189000.0,450000.0,22018.5,...,XNA,48.0,middle,Cash Street: middle,NaN,NaN,NaN,NaN,NaN,NaN
6151500,371490,1,Cash loans,F,N,Y,0,189000.0,450000.0,22018.5,...,XNA,48.0,middle,Cash Street: middle,NaN,NaN,NaN,NaN,NaN,NaN
6151501,371490,1,Cash loans,F,N,Y,0,189000.0,450000.0,22018.5,...,XNA,0.0,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6153419,371490,1,Cash loans,F,N,Y,0,189000.0,450000.0,22018.5,...,Consumer electronics,6.0,middle,POS household with interest,365243.0,-653.0,-503.0,-563.0,-557.0,0.0
6153420,371490,1,Cash loans,F,N,Y,0,189000.0,450000.0,22018.5,...,XNA,48.0,middle,Cash Street: middle,NaN,NaN,NaN,NaN,NaN,NaN
6153421,371490,1,Cash loans,F,N,Y,0,189000.0,450000.0,22018.5,...,XNA,0.0,XNA,Card Street,-412.0,-365.0,365243.0,365243.0,365243.0,0.0
6153422,371490,1,Cash loans,F,N,Y,0,189000.0,450000.0,22018.5,...,Clothing,12.0,low_normal,POS industry with interest,365243.0,-1335.0,-1005.0,-1155.0,-1152.0,0.0
6153423,371490,1,Cash loans,F,N,Y,0,189000.0,450000.0,22018.5,...,XNA,48.0,middle,Cash Street: middle,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
#Loand the Credit_card_balance
ccb = pd.read_csv(r"C:\Users\Balakrishna_Vema\Documents\Data science\Data sets\Home_credit_default_risk\credit_card_balance.csv")

In [56]:
ccb.shape

(3840312, 23)

In [57]:
ccb.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [58]:
#Remove row level duplicates 
ccb.drop_duplicates()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3840307,1036507,328243,-9,0.000,45000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840308,1714892,347207,-9,0.000,45000,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,23.0,Active,0,0
3840309,1302323,215757,-9,275784.975,585000,270000.0,270000.0,0.0,0.0,2250.000,...,273093.975,273093.975,2.0,2,0.0,0.0,18.0,Active,0,0
3840310,1624872,430337,-10,0.000,450000,NaN,0.0,NaN,NaN,0.000,...,0.000,0.000,NaN,0,NaN,NaN,0.0,Active,0,0
3840311,2411345,236760,-10,0.000,157500,0.0,0.0,0.0,0.0,0.000,...,0.000,0.000,0.0,0,0.0,0.0,21.0,Completed,0,0

In [59]:
ccb.describe().T

,count,mean,std,min,25%,50%,75%,max
SK_ID_PREV,3840312.0,1.904504e+06,536469.470563,1000018.000,1434385.00,1897122.0,2.369328e+06,2843496.000
SK_ID_CURR,3840312.0,2.783242e+05,102704.475133,100006.000,189517.00,278396.0,3.675800e+05,456250.000
MONTHS_BALANCE,3840312.0,-3.452192e+01,26.667751,-96.000,-55.00,-28.0,-1.100000e+01,-1.000
AMT_BALANCE,3840312.0,5.830016e+04,106307.031025,-420250.185,0.00,0.0,8.904669e+04,1505902.185
AMT_CREDIT_LIMIT_ACTUAL,3840312.0,1.538080e+05,165145.699523,0.000,45000.00,112500.0,1.800000e+05,1350000.000
AMT_DRAWINGS_ATM_CURRENT,3090496.0,5.961325e+03,28225.688579,-6827.310,0.00,0.0,0.000000e+00,2115000.000
AMT_DRAWINGS_CURRENT,3840312.0,7.433388e+03,33846.077334,-6211.620,0.00,0.0,0.000000e+00,2287098.315
AMT_DRAWINGS_OTHER_CURRENT,3090496.0,2.881696e+02,8201.989345,0.000,0.00,0.0,0.000000e+00,1529847.000
AMT_DRAWINGS_POS_CURRENT,3090496.0,2.968805e+03,20796.887047,0.000,0.00,0.0,0.000000e+00,2239274.160
AMT_INST_MIN_REGULARITY,3535076.0,3.540204e+03,5600.154122,0.000,0.00,0.0,6.633911e+03,202882.005
AMT_PAYMENT_CURRENT,3072324.0,1.028054e+04,36078.084953,0.000,152.37,2702.7,9.000000e+03,4289207.445
AMT_PAYMENT_TOTAL_CURRENT,3840312.0,7.588857e+03,32005.987768,0.000,0.00,0.0,6.750000e+03,4278315.690
AMT_RECEIVABLE_PRINCIPAL,3840312.0,5.596588e+04,102533.616843,-423305.820,0.00,0.0,8.535924e+04,1472316.795
AMT_RECIVABLE,3840312.0,5.808881e+04,105965.369908,-420250.185,0.00,0.0,8.889949e+04,1493338.185
AMT_TOTAL_RECEIVABLE,3840312.0,5.809829e+04,105971.801103,-420250.185,0.00,0.0,8.891451e+04,1493338.185
CNT_DRAWINGS_ATM_CURRENT,3090496.0,3.094490e-01,1.100401,0.000,0.00,0.0,0.000000e+00,51.000
CNT_DRAWINGS_CURRENT,3840312.0,7.031439e-01,3.190347,0.000,0.00,0.0,0.000000e+00,165.000
CNT_DRAWINGS_OTHER_CURRENT,3090496.0,4.812496e-03,0.082639,0.000,0.00,0.0,0.000000e+00,12.000
CNT_DRAWINGS_POS_CURRENT,3090496.0,5.594791e-01,3.240649,0.000,0.00,0.0,0.000000e+00,165.000
CNT_INSTALMENT_MATURE_CUM,3535076.0,2.082508e+01,20.051494,0.000,4.00,15.0,3.200000e+01,120.000
SK_DPD,3840312.0,9.283667e+00,97.515700,0.000,0.00,0.0,0.000000e+00,3260.000
SK_DPD_DEF,3840312.0,3.316220e-01,21.479231,0.000,0.00,0.0,0.000000e+00,3260.000

In [61]:
#join two tables(join_train_bur_prev and CCB)
join_train_bur_prev_ccb = pd.merge(join_train_bur_prev, ccb, on="SK_ID_CURR", how="left")

MemoryError:

In [77]:
ccb_ar=np.array(ccb).shape

In [83]:
ccb.columns

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [93]:
abc = np.where(app_train1.TARGET > 0 )

In [76]:
np.arange(ccb_ar(0, 100, 2,int))

TypeError: 'numpy.ndarray' object is not callable

In [91]:
pd.value_counts(abc)

paid        282686
Not Paid     24825
dtype: int64

In [94]:
abc

(array([     0,     26,     40, ..., 307481, 307489, 307509], dtype=int64),)

In [97]:
app_train1[0:50]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
26,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
27,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
29,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
30,100035,0,Cash loans,F,N,Y,0,292500.000,665892.0,24592.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
31,100036,0,Cash loans,F,N,Y,0,112500.000,512064.0,25033.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,5.0
32,100037,0,Cash loans,F,N,N,0,90000.000,199008.0,20893.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
33,100039,0,Cash loans,M,Y,N,1,360000.000,733315.5,39069.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
34,100040,0,Cash loans,F,N,Y,0,135000.000,1125000.0,32895.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
35,100041,0,Cash loans,F,N,N,0,112500.000,450000.0,44509.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
36,100043,0,Cash loans,F,N,Y,2,198000.000,641173.5,23157.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
37,100044,0,Cash loans,M,N,Y,0,121500.000,454500.0,15151.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
38,100045,0,Cash loans,F,N,Y,0,99000.000,247275.0,17338.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
39,100046,0,Revolving loans,M,Y,Y,0,180000.000,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
40,100047,1,Cash loans,M,N,Y,0,202500.000,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
41,100048,0,Cash loans,F,N,Y,0,202500.000,604152.0,29196.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
42,100049,1,Cash loans,F,N,N,0,135000.000,288873.0,16258.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
43,100050,0,Cash loans,F,N,Y,0,108000.000,746280.0,42970.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
44,100051,0,Cash loans,M,N,Y,0,202500.000,661702.5,48280.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
45,100052,0,Revolving loans,F,N,Y,1,90000.000,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
46,100053,0,Cash loans,F,N,Y,0,202500.000,305221.5,17649.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,4.0
47,100054,0,Cash loans,F,N,Y,0,99000.000,260640.0,26838.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48,100055,0,Cash loans,F,N,N,0,130500.000,1350000.0,37255.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
49,100056,0,Cash loans,M,Y,Y,0,360000.000,1506816.0,49927.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
type_count = np.where(app_train1.NAME_CONTRACT_TYPE == 'Cash loans', "Cash loans", "non cashloans")

In [134]:
dd = pd.DataFrame(type_count)

In [135]:
dd

                    0
0          Cash loans
1          Cash loans
2       non cashloans
3          Cash loans
4          Cash loans
...               ...
307506     Cash loans
307507     Cash loans
307508     Cash loans
307509     Cash loans
307510     Cash loans

[307511 rows x 1 columns]

TypeError: 'numpy.ndarray' object is not callable